@font-face{
	font-family: "PT Sans Narrow";	
	src: 
		url("../fonts/ptsansnarrow.woff2") format("woff2"),
		url("../fonts/ptsansnarrow.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: "PT Sans Narrow";	
	src: 
		url("../fonts/ptsansnarrowbold.woff2") format("woff2"),
		url("../fonts/ptsansnarrowbold.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
html, body{
	
	min-width: 960px;
}
body.inner-page{
	background-image: url("../img/inner-page-1.jpg");
	background-repeat: repeat;
}
body.index-page{
	background: #000 url("../img/tint.jpg")  no-repeat 50% top;
	/*background-size: auto 1122px;*/
}
body, button{
	font-family: "PT Sans Narrow",arial,sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	color: #000;
}
h2{
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 42px;
	color: #000;
	text-transform: uppercase;
	margin: 0;
}
p{
	font-family: "PT Sans Narrow",arial,sans-serif;
	font-weight: bold;
	font-size: 14px;
	font-size: 14px;
	line-height: 24px;
	color: #000;
	text-transform: uppercase;
}
.logo{
	float: left;
}
.main-header {
	margin-bottom: 60px;
	background-color: #000;
}
.container{
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.main-nav {
	float: left;
	width: 650px;
	min-height: 70px;
}
.main-nav ul{
	margin: 0;
	padding: 0;
  list-style: none;
}
.main-nav li{
  display: inline-block;
  padding: 0 20px;
}
.main-nav-a{
	line-height: 72px;
  font-size: 16px;
	text-transform: uppercase;
  color: white;
  font-weight: bold;
	text-decoration: none;
}
.user-block {
	float: right;
	width: 140px;
}
.index-logo {
	width: 368px;
	height: 204px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;
}
.features {
	margin-bottom: 80px;
}
.features-item{
	float: left;
	width: 300px;
	margin-right: 20px;
	min-height: 175px;
}
.features-item:last-child {
	margin-right: 0;
}
.index-content {
	padding: 50px 80px;
	margin-bottom: 35px;
}
.index-content-left {
	float: left;
	width: 380px;
	min-height: 330px;
}
.index-content-right {
  float: right;
  width: 300px;
	min-height: 330px;
}
.breadcrumbs{
  width: 540px;
}
.breadcrumbs ul{
	margin: 0;
}
.breadcrumbs li{
	display: inline-block;
}
.breadcrumbs a{
	line-height: 24px;
  font-size: 14px;
	text-transform: uppercase;
  color: black;
  font-weight: bold;
	text-decoration: none;
}
.filter{
	float: left;
	width: 220px;
	margin-right: 10px;
}
.filter-group ul{
	padding-left: 0;
}
.catalog{
	float: right;
	display: table;
	width: 700px;
}
.catalog-item{
	display: inline-block;
	width: 220px;
	margin: 10px; 
}
.catalog-item:nth-child(3n+1){
	margin-left: 0;
} 
.catalog-item:nth-child(3n+3){
	margin-right: 0;
}
.paginator li{
	display: inline-block;
	margin: 0;
}
.inner-column-galery{
	float: left;
	width: 460px;
	margin-right: 10px;
}
.item-img{
	height: 498px;
}
.inner-column-galery ul{
	width: 460px;
	padding: 0;
	margin: 21px 0 0 0;
}
.inner-column-galery li{
	display: inline-table;
	width: 33%;
}
.inner-column-galery li:nth-child(3n+2){
	text-align: center;
}
.inner-column-galery li:nth-child(3n+3){
	text-align: right;
}
.inner-column-info{
	float: right;
	width: 460px;
	padding-top: 25px;
	margin-left: 10px;
}
.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
	background-image: url("../img/footer.png");
	background-repeat: repeat;
}
.footer-contacts {
	float: left;
  width: 320px;
	margin-right: 60px;
  min-height: 90px;
}
.footer-social {
	float: left;
  width: 180px;
  min-height: 90px;
}
.footer-copyright {
	float: right;
  width: 180px;
  min-height: 90px;
}














